/* Common styles */

.THIS svg:hover {
    cursor: pointer;
}

.THIS .progress-circle {
    transform: rotate(-90deg);
    transform-origin: center center;
}

.THIS .circle__default {
    stroke: #1589ee;
    fill: #f3f2f2;
}

.THIS .circle__progress {
    stroke-dasharray: 360;
    stroke: #cccccc;
}

.THIS .success {
    stroke: #4bca81;;
}

.THIS .brand {
    stroke: #1589ee;
}

.THIS.progress-circle-container {
    position: relative;
    display: inline-block;
}

.THIS.progress-circle-container .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: max-content;
}

.THIS.progress-circle-container:hover .tooltip {
    visibility: visible;
}

/* Stylization for 'SMALL' variant */

.THIS .tooltip[data-size="small"] {
    top: -90%;
    left: 0%;
}

.THIS svg.small {
    width: 3rem;
    height: 3rem;
}

.THIS svg.small circle.circle__default, .THIS svg.small circle.circle__progress {
    cx: 1.5rem; /* 0.5 from parent SVG element width */
    cy: 1.5rem; /* 0.5 from parent SVG element width */
    r: 1.05rem; /* 0.35 from parent SVG element width */
    stroke-width: 0.18rem; /* 0.06 from parent SVG element width */
    fill: none;
}

.THIS svg.small text {
    font-size: 0.7rem; /* 0.23 from parent SVG element width*/
}

/* Stylization for 'MEDIUM' variant */

.THIS .tooltip[data-size="medium"] {
    top: -65%;
    left: 11.5%;
}

.THIS svg.medium {
    width: 4rem;
    height: 4rem;
}

.THIS svg.medium circle.circle__default, .THIS svg.medium circle.circle__progress {
    cx: 2rem;
    cy: 2rem;
    r: 1.4rem;
    stroke-width: 0.24rem;
    fill: none;
}

.THIS svg.medium text {
    font-size: 0.9rem;
}

/* Stylization for 'LARGE' variant */

.THIS .tooltip[data-size="large"] {
    top: -50%;
    left: 20%;
}

.THIS svg.large {
    width: 5rem;
    height: 5rem;
}

.THIS svg.large circle.circle__default, .THIS svg.large circle.circle__progress {
    cx: 2.5rem;
    cy: 2.5rem;
    r: 1.75rem;
    stroke-width: 0.3rem;
    fill: none;
}

.THIS svg.large text {
    font-size: 1.15rem;
}