/* Common styles */

.THIS svg:hover {
    cursor: pointer;
}

.THIS .progress-circle {
    transform: rotate(-90deg);
    transform-origin: center center;
}

.THIS .circle__default {
    stroke: #1589ee;
    fill: #f3f2f2;
}

.THIS .circle__progress {
    stroke-dasharray: 360;
    stroke: #cccccc;
}

.THIS .success {
    stroke: #4bca81;;
}

.THIS .brand {
    stroke: #1589ee;
}

.THIS.progress-circle-container {
    position: relative;
    display: inline-block;
}

.THIS.progress-circle-container .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: max-content;
}

.THIS.progress-circle-container:hover .tooltip {
    visibility: visible;
}

/* Stylization for 'SMALL' variant */

.THIS .tooltip[data-size="small"] {
    top: -90%;
    left: 0;
}

/* Stylization for 'MEDIUM' variant */

.THIS .tooltip[data-size="medium"] {
    top: -65%;
    left: 11.5%;
}

/* Stylization for 'LARGE' variant */

.THIS .tooltip[data-size="large"] {
    top: -50%;
    left: 20%;
}